/* PALETTE COLORS */
/* SOCIAL NETWORK ICON COLORS */
/* MEDIA QUERY BREAKPOINTS */
.--flex, .--vflex {
  display: flex;
  flex-wrap: wrap; }

.--vflex {
  flex-direction: column; }

.--space-between {
  justify-content: space-between; }

.--space-around {
  justify-content: space-around; }

.--fstart {
  justify-content: flex-start; }

.--fend {
  justify-content: flex-end; }

.--vcentered {
  align-self: center; }

.--even-width {
  flex: 1; }

.header {
  width: 100%;
  height: 60px; }

.header__item {
  padding: 12px 15px;
  font-weight: bold;
  font-size: 21px;
  transition: .2s ease; }

.header__menu {
  font-size: 15px;
  font-weight: bolder;
  margin-right: 20px;
  padding: 8px 15px; }
  @media only screen and (min-width: 992px) {
    .header__menu {
      display: none; } }

.header--theme {
  background-color: #FFFFFF;
  box-shadow: 0 0.5px 0 0 #ffffff inset, 0 1px 2px 0 #B3B3B3; }

.header__menu--theme {
  border: 1px solid rgba(255, 79, 80, 0.2);
  color: #A11213; }

.header__item--theme {
  text-decoration: none;
  color: #141414; }

.header__item:hover {
  transition: .2s ease;
  background-color: #A11213;
  color: #FFFFFF; }

.--no-decoration {
  text-decoration: none; }

.responsive-header {
  justify-content: space-between; }
  @media only screen and (min-width: 992px) {
    .responsive-header {
      justify-content: space-around;
      position: sticky;
      top: 0; } }

.big-header {
  display: none; }
  @media only screen and (min-width: 992px) {
    .big-header {
      display: block;
      text-align: center; } }

.small-header {
  display: block; }
  @media only screen and (min-width: 992px) {
    .small-header {
      display: none; } }

.fade-swiper__img-one, .fade-swiper__img-two, .fade-swiper__img-three {
  min-height: 350px; }
  @media only screen and (min-width: 576px) {
    .fade-swiper__img-one, .fade-swiper__img-two, .fade-swiper__img-three {
      min-height: 400px; } }
  @media only screen and (min-width: 768px) {
    .fade-swiper__img-one, .fade-swiper__img-two, .fade-swiper__img-three {
      min-height: 450px; } }
  @media only screen and (min-width: 992px) {
    .fade-swiper__img-one, .fade-swiper__img-two, .fade-swiper__img-three {
      min-height: 80vh; } }

.clients__regular, .clients__b-to-b {
  flex: 50%;
  min-height: 40vh;
  background-repeat: no-repeat;
  background-size: cover; }

.logo {
  height: 42px;
  padding-left: 20px; }

.logo--link {
  text-decoration: none;
  text-align: center; }

.marketplace__store--menu {
  width: 120px;
  padding: 8px 0;
  text-align: center; }

.fade-swiper__img-one {
  background-image: url("../img/modern-minimalist-bathroom-min.jpg");
  background-position: bottom; }
.fade-swiper__img-two {
  background-image: url("../img/kitchen-bg-min.jpg");
  background-position: bottom; }
.fade-swiper__img-three {
  background-image: url("../img/bathroom-min.jpg");
  background-position: center; }

.services__background {
  height: 90vh;
  background: linear-gradient(rgba(20, 20, 20, 0.8)), url("../img/6.jpg") no-repeat center;
  background-size: cover; }

.clients__regular {
  background-image: url("../img/plumber-min.jpg");
  background-position: top; }

.clients__b-to-b {
  background-image: url("../img/construction-min.jpg");
  background-position: center; }

.product-display__item {
  width: 100%; }

.social-network {
  font-size: 18px;
  margin: 0 10px; }

.social-network__fb {
  color: #3b5998; }

.social-network__twitter {
  color: #0084b4; }

.social-network__youtube {
  color: #FF0000; }

.fade-swiper {
  width: 100%; }

@media only screen and (min-width: 768px) {
  .fade-swiper__mobile-nav {
    display: none; } }

/* DEFAULT */
.fade-swiper .swiper-container {
  width: 100%;
  height: 100%; }

.fade-swiper .swiper-slide {
  background-size: cover; }

.clients__description, .product-display__description, .service__description {
  line-height: 150%; }

.product-display {
  margin: 35px auto;
  text-align: center;
  width: 95%; }
  @media only screen and (min-width: 576px) {
    .product-display {
      width: 80%; } }
  @media only screen and (min-width: 768px) {
    .product-display {
      width: 768px; } }
  @media only screen and (min-width: 992px) {
    .product-display {
      width: 980px; } }
  @media only screen and (min-width: 1400px) {
    .product-display {
      width: 1200px; } }

.button-buy {
  display: block;
  margin: 8px 0;
  padding: 8px 0;
  color: #FFFFFF;
  background-color: #02A12E;
  border-radius: 2px;
  font-size: 20px;
  transition: 0.3s ease; }

.services {
  position: relative;
  height: 130vh;
  background-color: #141414; }
  @media only screen and (min-width: 576px) {
    .services {
      background: none;
      height: 90vh; } }

.clients {
  width: 100%; }

.clients__content {
  background-color: #FFFFFF;
  margin: 0 auto;
  text-align: center;
  flex: 50%; }

.clients__description {
  font-size: 20px; }

.services__content {
  position: absolute;
  top: 0;
  left: 0;
  color: #FFFFFF;
  text-align: center;
  margin: 0 auto;
  width: 100%;
  padding-top: 25px; }

.service__item {
  padding: 0 12px;
  justify-content: flex-start; }
  @media only screen and (min-width: 576px) {
    .service__item {
      flex: 50%; } }
  @media only screen and (min-width: 992px) {
    .service__item {
      padding: 0 30px;
      flex: 25%; } }

.service__title {
  color: #FFFFFF; }

.service__item-title {
  font-size: 25px;
  font-weigth: 600;
  padding-bottom: 10px; }

.product-display__description {
  font-size: 12px; }
  @media only screen and (min-width: 992px) {
    .product-display__description {
      font-size: 16px; } }

.service__description {
  font-size: 15px; }
  @media only screen and (min-width: 768px) {
    .service__description {
      font-size: 17px; } }
  @media only screen and (min-width: 992px) {
    .service__description {
      font-size: 20px; } }

.service__icon {
  width: 100%;
  padding-top: 15px;
  padding-bottom: 10px;
  font-size: 45px; }
  @media only screen and (min-width: 576px) {
    .service__icon {
      font-size: 55px; } }
  @media only screen and (min-width: 768px) {
    .service__icon {
      font-size: 75px; } }
  @media only screen and (min-width: 992px) {
    .service__icon {
      font-size: 80px; } }
  @media only screen and (min-width: 1400px) {
    .service__icon {
      font-size: 90px; } }

.product-display__title, .service__title {
  font-weight: 100;
  font-size: 40px; }
  @media only screen and (min-width: 992px) {
    .product-display__title, .service__title {
      font-size: 60px;
      padding-bottom: 30px; } }

.product-display__box {
  flex: 50%;
  padding: 10px 15px; }
  @media only screen and (min-width: 576px) {
    .product-display__box {
      flex: 33.3333333333%;
      padding: 10px 15px; } }

@media only screen and (min-width: 992px) {
  .button-buy:hover {
    transition: 0.3s ease;
    background-color: #015418; } }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif; }

body {
  background-color: #FFFFFF; }

p {
  font-family: 'Merriweather', serif; }

/*# sourceMappingURL=style.css.map */
