/* PALETTE COLORS */
/* SOCIAL NETWORK ICON COLORS */
/* MEDIA QUERY BREAKPOINTS */
.--flex, .--vflex {
  display: flex;
  flex-wrap: wrap; }

.--vflex {
  flex-direction: column; }

.--reverse-flex {
  display: flex;
  flex-wrap: wrap-reverse; }

.--space-between {
  justify-content: space-between; }

.--space-around {
  justify-content: space-around; }

.--fstart {
  justify-content: flex-start; }

.--fend {
  justify-content: flex-end; }

.--vcentered {
  align-self: center; }

.--even-width {
  flex: 1; }

.header {
  width: 100%;
  height: 60px; }

.header__item {
  padding: 12px 15px;
  font-weight: bold;
  font-size: 21px;
  transition: .2s ease; }

.header__menu {
  font-size: 15px;
  font-weight: bolder;
  margin-right: 20px;
  padding: 8px 15px; }
  @media only screen and (min-width: 992px) {
    .header__menu {
      display: none; } }

.header--theme {
  background-color: #FFFFFF;
  box-shadow: 0 0.5px 0 0 #ffffff inset, 0 1px 2px 0 #B3B3B3; }

.header__menu--theme {
  border: 1px solid rgba(255, 79, 80, 0.2);
  color: #A11213; }

.header__item--theme {
  text-decoration: none;
  color: #141414; }

.header__item:hover {
  transition: .2s ease;
  background-color: #A11213;
  color: #FFFFFF; }

.--no-decoration {
  text-decoration: none; }

.responsive-header {
  justify-content: space-between;
  flex-wrap: wrap-reverse; }
  @media only screen and (min-width: 992px) {
    .responsive-header {
      flex-wrap: wrap;
      justify-content: space-around;
      position: sticky;
      top: 0; } }

.big-header {
  display: none; }
  @media only screen and (min-width: 992px) {
    .big-header {
      display: block;
      text-align: center; } }

.small-header {
  display: block; }
  @media only screen and (min-width: 992px) {
    .small-header {
      display: none; } }

.fade-swiper__img-one, .fade-swiper__img-two, .fade-swiper__img-three {
  min-height: 350px; }
  @media only screen and (min-width: 576px) {
    .fade-swiper__img-one, .fade-swiper__img-two, .fade-swiper__img-three {
      min-height: 400px; } }
  @media only screen and (min-width: 768px) {
    .fade-swiper__img-one, .fade-swiper__img-two, .fade-swiper__img-three {
      min-height: 450px; } }
  @media only screen and (min-width: 992px) {
    .fade-swiper__img-one, .fade-swiper__img-two, .fade-swiper__img-three {
      min-height: 80vh; } }

.clients__regular, .clients__b-to-b {
  width: 100%;
  height: 40vh;
  background-repeat: no-repeat;
  background-size: cover; }
  @media only screen and (min-width: 768px) {
    .clients__regular, .clients__b-to-b {
      width: 50%; } }
  @media only screen and (min-width: 992px) {
    .clients__regular, .clients__b-to-b {
      width: 50%;
      height: 50vh; } }

.kuroda-logo {
  height: 42px;
  padding-left: 20px; }

.logo--link {
  text-decoration: none;
  text-align: center; }

.marketplace__store--menu {
  width: 120px;
  padding: 15px 10px;
  text-align: center; }
  @media only screen and (min-width: 992px) {
    .marketplace__store--menu {
      padding-left: 0;
      padding-right: 0; } }

.fade-swiper__img-one {
  background-image: url("../img/modern-minimalist-bathroom-min.jpg");
  background-position: bottom; }
.fade-swiper__img-two {
  background-image: url("../img/kitchen-bg-min.jpg");
  background-position: bottom; }
.fade-swiper__img-three {
  background-image: url("../img/bathroom-min.jpg");
  background-position: center; }

.services__background {
  background: linear-gradient(rgba(20, 20, 20, 0.8)), url("../img/6.jpg") no-repeat center;
  background-size: cover;
  height: 1150px; }
  @media only screen and (min-width: 576px) {
    .services__background {
      height: 880px; } }
  @media only screen and (min-width: 768px) {
    .services__background {
      height: 900px; } }
  @media only screen and (min-width: 992px) {
    .services__background {
      height: 850px; } }
  @media only screen and (min-width: 1400px) {
    .services__background {
      height: 100vh; } }

.clients__regular {
  background-image: url("../img/plumber-min.jpg");
  background-position: top; }

.clients__b-to-b {
  background-image: url("../img/assembly-min.jpg");
  background-position: center; }

.product-display__item {
  width: 100%; }

.social-network {
  font-size: 18px;
  margin: 0 10px; }

.social-network__fb {
  color: #3b5998; }

.social-network__twitter {
  color: #0084b4; }

.social-network__youtube {
  color: #FF0000; }

.social-network__instagram {
  color: #9b6954; }

.fade-swiper {
  width: 100%; }

/* DEFAULT */
.fade-swiper .swiper-container {
  width: 100%;
  height: 100%; }

.fade-swiper .swiper-slide {
  background-size: cover; }

.online-shopping__description, .product-display__description, .service__description {
  line-height: 150%;
  text-align: center;
  margin: 0 auto; }

.button-buy, .button-register {
  color: #FFFFFF;
  transition: 0.2s ease;
  font-size: 20px;
  font-weight: bold;
  display: block; }
  @media only screen and (min-width: 576px) {
    .button-buy, .button-register {
      border-radius: 2px; } }

.marketplace {
  margin: 0 auto;
  width: 300px;
  padding-top: 10px;
  padding-bottom: 18px; }
  @media only screen and (min-width: 576px) {
    .marketplace {
      width: 100%; } }
  @media only screen and (min-width: 768px) {
    .marketplace {
      width: 350px; } }
  @media only screen and (min-width: 1400px) {
    .marketplace {
      width: 100%; } }

.button-help {
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.6);
  padding: 5px 12px;
  font-weight: lighter; }

.services {
  position: relative; }

.product-display {
  margin: 0 auto;
  padding: 35px 0;
  text-align: center;
  width: 95%; }
  @media only screen and (min-width: 576px) {
    .product-display {
      width: 80%; } }
  @media only screen and (min-width: 768px) {
    .product-display {
      width: 600px; } }
  @media only screen and (min-width: 992px) {
    .product-display {
      width: 800px; } }
  @media only screen and (min-width: 1400px) {
    .product-display {
      width: 991px; } }

.button-buy {
  margin: 8px 0;
  padding: 8px 0;
  background-color: #02A12E; }

.button-register {
  display: inline-flex;
  background-color: #EE3233;
  padding: 10px 35px;
  margin-top: 12px; }

@media only screen and (min-width: 992px) {
  .button-register:hover {
    transition: 0.2s ease;
    background-color: #A11213; } }

.online-shopping {
  width: 100%;
  padding-bottom: 35px; }

.online-shopping__content {
  flex: 1;
  background-color: #FFFFFF;
  margin: 0 auto;
  text-align: center; }
  @media only screen and (min-width: 768px) {
    .online-shopping__content {
      flex: 50%;
      border: 1px solid rgba(20, 20, 20, 0.1); } }

.online-shopping__description {
  font-size: 18px;
  width: 95%; }
  @media only screen and (min-width: 576px) {
    .online-shopping__description {
      font-size: 20px; } }
  @media only screen and (min-width: 992px) {
    .online-shopping__description {
      width: 100%;
      font-size: 20px;
      padding-bottom: 15px; } }

.online-shopping__title {
  font-weight: 100;
  font-size: 30px;
  padding-top: 12px;
  padding-bottom: 10px; }
  @media only screen and (min-width: 576px) {
    .online-shopping__title {
      font-size: 35px; } }
  @media only screen and (min-width: 992px) {
    .online-shopping__title {
      padding-top: 25px;
      padding-bottom: 30px; } }

.services__content {
  position: absolute;
  top: 0;
  left: 0;
  color: #FFFFFF;
  text-align: center;
  margin: 0 auto;
  width: 100%;
  padding-top: 25px; }

.service__item {
  padding: 10px 12px;
  justify-content: flex-start; }
  @media only screen and (min-width: 576px) {
    .service__item {
      flex: 50%; } }
  @media only screen and (min-width: 992px) {
    .service__item {
      padding: 0 30px;
      flex: 25%; } }

.service__title {
  color: #FFFFFF; }

.service__item-title {
  font-size: 25px;
  font-weigth: 600;
  padding-bottom: 10px; }

.product-display__description {
  font-size: 12px; }
  @media only screen and (min-width: 992px) {
    .product-display__description {
      font-size: 12px; } }

.service__description {
  font-size: 15px;
  padding: 0 15px; }
  @media only screen and (min-width: 768px) {
    .service__description {
      font-size: 17px; } }
  @media only screen and (min-width: 992px) {
    .service__description {
      font-size: 20px; } }

.service__icon {
  width: 100%;
  padding-top: 15px;
  padding-bottom: 10px;
  font-size: 45px; }
  @media only screen and (min-width: 576px) {
    .service__icon {
      font-size: 55px; } }
  @media only screen and (min-width: 768px) {
    .service__icon {
      font-size: 75px; } }
  @media only screen and (min-width: 992px) {
    .service__icon {
      font-size: 70px; } }
  @media only screen and (min-width: 1400px) {
    .service__icon {
      font-size: 90px; } }

.product-display__title, .service__title {
  font-weight: 100;
  font-size: 40px; }
  @media only screen and (min-width: 992px) {
    .product-display__title, .service__title {
      font-size: 60px;
      padding-bottom: 30px; } }

.product-display__box {
  flex: 50%;
  padding: 10px 15px; }
  @media only screen and (min-width: 576px) {
    .product-display__box {
      flex: 33.3333333333%;
      padding: 10px 15px; } }
  @media only screen and (min-width: 992px) {
    .product-display__box {
      padding: 25px 50px; } }

@media only screen and (min-width: 992px) {
  .button-buy:hover {
    transition: 0.3s ease;
    background-color: #015418; } }

.footer {
  width: 100%;
  margin: 0 auto;
  padding-top: 15px; }

.copyright {
  display: block;
  width: 100%;
  text-align: center;
  color: #FFFFFF;
  padding: 15px 0; }
  @media only screen and (min-width: 1400px) {
    .copyright {
      padding-top: 8px;
      padding-bottom: 12px;
      padding-left: 15px;
      padding-right: 15px; } }

.slogan {
  width: 100%;
  font-size: 17px;
  font-weight: 500;
  font-style: italic;
  padding: 8px 12px; }

.footer__block {
  width: 200px;
  text-align: center;
  margin: 0 auto;
  padding-top: 8px; }

.footer__options {
  list-style-type: none; }

.footer__options > li {
  padding: 8px 0; }

.footer__link {
  color: #FFFFFF;
  font-weight: lighter;
  font-size: 15px; }

.footer__title {
  color: #FFFFFF;
  padding: 10px 0;
  font-size: 18px;
  font-weight: 300; }

.footer--theme {
  background-color: #141414; }

.beetrack {
  width: 97%;
  padding-bottom: 12px;
  margin: 0 auto; }

.beetrack__container {
  margin: 0 auto;
  text-align: center;
  color: #FFFFFF;
  padding-top: 10px;
  padding-bottom: 40px; }

.beetrack__title {
  margin-bottom: -45px; }

* {
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
  box-sizing: border-box; }

body {
  background-color: #FFFFFF; }

p {
  font-family: 'Merriweather', serif; }

#my-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh; }

#my-content {
  flex: 1; }

#my-menu:not(.mm-menu) {
  display: none; }

/*# sourceMappingURL=style.css.map */
