.beetrack {
    width: 97%;
    padding-bottom: 12px;
    margin: 0 auto;
    // background-color: rgba($color: $black, $alpha: 0.1);
}

.beetrack__container {
    // background-color: rgba($color: $black, $alpha: 0.1);
    margin: 0 auto;
    text-align: center;
    color: $white;
    padding-top: 10px;
    padding-bottom: 40px;
}

.beetrack__title {
    margin-bottom: -45px;
}