// BLOCK

.footer {
    width: 100%;
    height: 100px;
    margin: 0 auto;
    padding-top: 15px;
}

.slogan {
    width: 100%;
    font: {
        size: 17px;
        weight: 500;
        style: italic;
    }
    padding: 8px 12px;
}

// ELEMENT

.footer__item {
    width: 100%;
    align-self: center;
    text-align: center;
    color: white;
    margin: 0 auto;
    @include responsive(s) {
        width: 0;
        flex: 50%;
    }
    @include responsive(m) {
        flex: percentage($number: 1/3);
    }
}

.footer__link {
    display: block;
}


// MOD

.footer--theme {
    background-color:$red;
}

// RESPONSIVE