%fade-swiper__img-height {
    min-height: 350px;
    @include responsive(s) {
        min-height: 400px;
    }
    @include responsive(m) {
        min-height: 450px;
    }
    @include responsive(l) {
        min-height: 80vh;
    }
}

// LOGO
.logo {
    height: 42px;
    padding-left: 20px;
}

.logo--link {
    text-decoration: none;
    text-align: center;
}

.marketplace__store--menu {
    width: 120px;
    padding: 8px 0;
    text-align: center;
}

// BACKGROUNDS
.fade-swiper__img {
    &-one {
        @extend %fade-swiper__img-height;
        background: {
            image: url('../img/modern-minimalist-bathroom-min.jpg');
            position: bottom;
        }
    }
    &-two {
        @extend %fade-swiper__img-height;
        background: {
            image: url('../img/kitchen-bg-min.jpg');
            position: bottom;
        }
    }
    &-three {
        @extend %fade-swiper__img-height;
        background: {
            image: url('../img/bathroom-min.jpg');
            position: center;
        }
    }
}

.services__background {
    height: 90vh;
    background: linear-gradient(rgba($color: $black, $alpha: 0.8)), url('../img/6.jpg') no-repeat center;
    background-size: cover;
}

// IMAGES
.product-display__item {
    width: 100%;
}