// LOGO
.logo {
    height: 42px;
    padding-left: 20px;
}

.logo--link {
    text-decoration: none;
}

.marketplace__store--menu {
    width: 120px;
    padding: 8px 0;
    text-align: center;
}

// BACKGROUNDS
// IMAGES