%fade-swiper__img-height {
    min-height: 350px;
    @include responsive(s) {
        min-height: 400px;
    }
    @include responsive(m) {
        min-height: 450px;
    }
    @include responsive(l) {
        min-height: 80vh;
    }
}

%clients__backgrounds {
    width: 100%;
    height: 40vh;
    background-repeat: no-repeat;
    background-size: cover;
    @include responsive(m) {
        width: 50%;
    }
    @include responsive(l) {
        width: 50%;
        height: 50vh;
    }
}

// LOGO
.kuroda-logo {
    height: 42px;
    padding-left: 20px;
    @include responsive(l) {
        height: 38px;
        padding-left: 8px;
    }
    @include responsive(xl) {
        height: 42px;
        padding-left: 15px;
    }
}

.projects-logo__container {
    align-self: center;
    width: 100px;
    @include responsive(s) {
        width: 120px;
    }
    @include responsive(m) {
        width: 100px;
    }
    @include responsive(l) {
        width: 150px;
    }
    @include responsive(xl) {
        width: 160px;
    }
}

.projects-logo {
    width: 100%;
    @include responsive(s) {}
    @include responsive(m) {}
    @include responsive(l) {
        width: 75%;
    }
    @include responsive(xl) {
        width: 80%;
    }
}

.ks-logo__container {
    margin: 0 auto;
    width: 120px;
    @include responsive(s) {
        width: 150px;
    }
    @include responsive(m) {
        width: 120px;
    }
    @include responsive(l) {
        width: 150px;
    }
    @include responsive(xl) {
        margin-top: 10px;
        width: 160px;
    }
}

.ks-logo {
    width: 100%;
    @include responsive(s) {
        width: 80%;
    }
    @include responsive(m) {}
    @include responsive(l) {
        width: 70%;
    }
    @include responsive(xl) {
        width: 80%;
    }
}

.logo--link {
    text-decoration: none;
    text-align: center;
}

.marketplace__store--menu {
    width: 120px;
    padding: 5px 0;
    text-align: center;
    @include responsive(l) {
        padding: {
            left: 0;
            right: 0;
        }
    }
}

.marketplace__store--large {
    width: 110px;
    padding: 15px 0;
    @include responsive(m) {
        padding: {
            left: 5px;
            right: 5px;
        }
        width: 140px;
    }
    @include responsive(l) {
        width: 140px;
        transition: 0.2s ease;
    }
}

.marketplace__store--large:hover {
    @include responsive(l) {
        transition: 0.2s ease;
        width: 150px;
    }
}

// BACKGROUNDS
.about__background {
    background-image: url('../img/nosotros/nosotros.jpg');
    filter: opacity(0.8);
}

.fade-swiper__img {
    &-one {
        @extend %fade-swiper__img-height;
        background: {
            image: url('../img/backgrounds/modern-minimalist-bathroom-min.jpg');
            position: bottom;
        }
    }
    &-two {
        @extend %fade-swiper__img-height;
        background: {
            image: url('../img/backgrounds/kitchen-bg-min.jpg');
            position: bottom;
        }
    }
    &-three {
        @extend %fade-swiper__img-height;
        background: {
            image: url('../img/backgrounds/bathroom-min.jpg');
            position: center;
        }
    }
}

.services__background {
    background: linear-gradient(rgba($color: $black, $alpha: 0.8)), url('../img/backgrounds/6.jpg') no-repeat center;
    background-size: cover;
    height: 1250px;
    @include responsive(s) {
        height: 960px;
    }
    @include responsive(m) {
        height: 1000px;
    }
    @include responsive(xl) {
        height: 900px;
    }
}

.message__background {
    background: linear-gradient(rgba($color: $white, $alpha: 0.8)), url('../img/nosotros/personal.jpg') no-repeat center;
    background-size: cover;
    height: 420px;
    @include responsive(s) {
        height: 425px;
    }
    @include responsive(m) {
        height: 500px;
    }
    @include responsive(l) {
        height: 55vh;
        background-attachment: fixed;
    }
    @include responsive(xl) {
        height: 65vh;
    }
}

.clients__regular {
    @extend %clients__backgrounds;
    background-image: url('../img/backgrounds/plumber-min.jpg');
    background-position: top;
}

.clients__b-to-b {
    @extend %clients__backgrounds;
    background-image: url('../img/backgrounds/assembly-min.jpg');
    background-position: center;
}

// IMAGES
.product-display__item {
    width: 100%;
}

.footer__logo {
    width: 90%;
}

%promo__img {
    width: 100%;
    height: 220px;
    background: {
        position: center;
        size: cover;
        repeat: no-repeat;
    }
    @include responsive(xl) {
        height: 300px;
    }
}

// SINALOA 
.promo__img-one {
    @extend %promo__img;
    background-image: url('../img/promociones/architecture-brick-brick-wall-220680-min.jpg');
}

.promo__img-two {
    @extend %promo__img;
    background-image: url('../img/promociones/FamiliaAire.jpg');
}

.promo__img-three {
    @extend %promo__img;
    background-image: url('../img/promociones/niza-one-piece.png');
}