#storelocator-list,
#storelocator-routing {
  height: 450px;
}

#storelocator-leftcolumn,
#storelocator-map_canvas {
  height: 450px;
}

#storelocatorwidget-container,
#storelocator-directions-panel {
  width: 100%;
}

#storelocatorwidget {
  font-family: 'Lato', sans-serif; // font-size: 16px;
  color: #000000;
  margin: 0 auto;
  width: 90% !important;
  @include responsive(s) {
    width: 95% !important;
  }
  @include responsive(m) {
    width: 750px !important;
  }
  @include responsive(l) {
    width: 992px !important;
  }
  @include responsive(xl) {
    width: 1000px !important;
  }
}

#storelocatorwidget a {
  text-decoration: none;
  color: $black;
  margin: 5px 0;
  font-weight: bold;
  font-size: 15px;
  padding: 5px 8px;
}

input {
  width: 100% !important;
  font-size: 16px;
  padding: 8px !important;
  @include responsive(s) {
    width: 50% !important;
  }
  @include responsive(m) {
    width: 480px !important;
  }
  @include responsive(l) {
    width: 700px !important;
  }
  @include responsive(l) {
    width: 710px !important;
  }
}

#storelocatorwidget a:hover {
  color: #2a6496;
}

a.storelocator-storename {
  font-size: 18px !important;
  padding: 0 !important;
  margin: 0 !important;
}

.storelocator-description {
  color: #000000;
}

.storelocator-location {
  font-weight: bold;
  color: #000;
}

.storelocator-address {
  color: #000000;
  line-height: 150% !important;
  font-size: 14px;
}

.gm-style>div:first-child>div+div>div:last-child>div>div:first-child>div {
  opacity: 0.8;
}

span#storelocator-search-label,
span#search_radius_text,
div#storelocator-filter_checkbox_text {
  color: #000000;
  display: block;
  font-size: 30px;
  padding-bottom: 15px;
  display: none;
}

input:focus {
  border-color: rgba($color: $red, $alpha: 0.75) !important;
  box-shadow: 0 1px 1px rgbargba(253, 175, 23, 0.75) inset, 0 0 8px rgbargba(253, 175, 23, 0.6) !important;
  outline: 0 none !important;
}

.storelocator-btn-primary,
.storelocator-btn-primary:hover,
.storelocator-btn-primary:active,
.storelocator-btn-primary:visited,
.storelocator-btn-primary:focus {
  color: #FFF !important;
  border: none !important;
  background-color: $red !important;
  background-image: linear-gradient($red, $red) !important;
  width: 100%;
  @include responsive(s) {
    width: auto;
  }
  @include responsive(m) {
    font-size: 15px !important; // width: 200px;
  }
  @include responsive(l) {
    font-size: 15px !important; // width: 200px !important;
  }
}

.storelocator-btn-danger,
.storelocator-btn-danger:hover,
.storelocator-btn-danger:active,
.storelocator-btn-danger:visited,
.storelocator-btn-danger:focus {
  color: $light-green !important;
  border: none !important;
  background: none !important;
  box-shadow: none !important;
  text-shadow: none !important;
  text-align: left !important;
  width: 100%;
  padding: 5px 0 !important;
  @include responsive(s) {
    width: 165px;
  }
  @include responsive(l) {
    width: 175px;
    font-weight: 600 !important;
  }
}

.storelocator-buttons {
  text-align: center !important;
  @include responsive(s) {
    text-align: left !important;
  }
}

.storelocator-store {
  padding: 0 8px !important;
  margin: 0;
}

#storelocator-messages {
  border: none;
  text-align: center;
  font-size: 15px;
  padding: 0 20px;
  line-height: 150%;
  @include responsive(l) {
    padding: 0 8px;
  }
}