// BLOCK
.social-network {
    font-size: 18px;
    padding: 0 10px;
}
// ELEMENT
.social-network__fb {
    color: $fb-icon-color;
}

.social-network__twitter {
    color: $twitter-icon-color;
}

.social-network__youtube {
    color: $youtube-icon-color;
}
// MOD

// RESPONSIVE