// BLOCK
.social-network {
    font-size: 18px;
    margin: 0 10px;
}
// ELEMENT
.social-network__fb {
    color: $fb-icon-color;
}

.social-network__twitter {
    color: $twitter-icon-color;
}

.social-network__youtube {
    color: $youtube-icon-color;
}

.social-network__instagram {
    color: $instagram-icon-color;
}

.radio-kuroda {
    color: $black;
}

// MOD

// RESPONSIVE