.fade-swiper {
    width: 100%;
}

// .fade-swiper__mobile-nav {
//     @include responsive(m) {
//         display: none;
//     }
// }

/* DEFAULT */

.fade-swiper .swiper-container {
    width: 100%;
    height: 100%;
}

.fade-swiper .swiper-slide {
    background-size: cover;
}