@import 'variables';
@import 'flex';
@import 'header';
@import 'img';
@import 'social-network';
@import 'swiper';
@import 'content';
@import 'footer';
@import 'beetrack';
@import 'contact-form';
@import 'location';
@import 'radio';
@import 'promociones';

* {
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
    -webkit-appearance: none;
}

body {
    background-color: $white;
    min-height: 100%;
    position: relative;
    -webkit-text-size-adjust: 100%;
}

p {
    font-family: 'Merriweather', serif;
    line-height: 150%;
}

#my-page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#my-content {
    flex: 1;
}

#my-menu:not( .mm-menu ) {
    display: none;
 }
